@import '@styles/styles';

input:-webkit-autofill,
// input:-webkit-autofill:hover, 
// input:-webkit-autofill:focus,
textarea:-webkit-autofill,
// textarea:-webkit-autofill:hover,
// textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {  
  -webkit-text-fill-color: $color-background;
  -webkit-box-shadow: 0 0 0px 1000px $color-white inset;
  transition: background-color 5000s ease-in-out 0s;
}

.wrap-input {
  width: 100%;
  position: relative;
  margin-bottom: 12px;
  // margin-top: 12px;
}

.label-input {
  font-size: 14px;
  color: $color-white;
  line-height: 1.2;
  display: block;
  margin-bottom: 4px;
}

.wrap-input.required .label-input:after {
  color: red;
  content: " *";
  font-size: 14px ;
}

.input-control {  
  font-family: Arial,sans-serif;
  font-size: 14px;
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  color: $color-background;
  background-color: $color-white;
  background-clip: padding-box;
  border-radius: .25rem;
  border: 2px solid #671411;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.input-control.error,
.input-control.error:focus {  
  border: 2px solid red;  
}

.input-control:focus {
  color: #495057;
  background-color: $color-white;
  border-color: $color-primary;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba($color-primary,.55);
}

.focus-input {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0;
  height: 1px;

  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;

 // background: #57b846;
}

small {
  font-size: 80%;
  font-weight: 400;
  
}

.form-text {  
  display: block;
  position: relative;
  margin-top: .35rem;
  color: $color-transparent;
}

.text-error {
  color: red;
}


// /*---------------------------------------------*/
// input.input {
//   height: 45px;
// }


// textarea.input {
//   min-height: 115px;
//   padding-top: 14px;
//   padding-bottom: 13px;
// }


// .input:focus + .focus-input::before {
//   width: 100%;
//   border-bottom: 1px solid $color-primaryv;
// }

// .has-val.input + .focus-input::before {
//   width: 100%;  
// }
