$color-background: #101010; // Background color
$color-background-light: #202020; // Background color
$color-primary: #0d508f; // Primary color
$color-secondary: #671411; // Secondary color


$color-white: #FFF; // card bg
$color-athens-gray: #EAEDF1; // content bg
$color-catskill-white: #F9FAFC; // top nav bg
$color-abbey: #777; // gray text
$color-mischka: #DADAE3; // light gray for menu icon
$color-transparent: rgba(255, 255, 255, .5);
$color-alto: #D3D3D3;



$color-fiord: #394263; // sidenav bg & dark text
$color-java: #1BBAE1; // blue text
$color-bubble: #007bff;
$color-mine-shaft: #333; // main section header bg
$color-zest: #e67e22; // document icon bg
$color-jungle-green: #27ae60; // calendar icon bg
$color-cinnabar: #e74c3c; // main icon bg, red
$color-amethyst: #af64cc; // main photo icon bg


